/*
Nguyễn Duy Anh
MSV: 205 1060 385
Nền tảng phát triển Web
Giảng viên: Kiều Tuấn Dũng
*/


/*css for all */
body {
  padding: 0;
  margin: 0px;
  background-image: url("../img/hand-painted-watercolor-background-with-sky-clouds-shape_24972-1095.jpg");
  background-size: 100%;
  background-position-x: left;
  background-position-y: top;
  background-repeat: no-repeat;
}
/* css for Index.html */
.header-alien {
  height: 200px;
  border: none;
  border-radius: 1%;
  background-color: white;
}

.nav-head {
  background-color: rgb(28, 211, 83);
}

/*css for default.html*/
#result-img {
  width: 50%;
  height: 50%;
}
