body{
    padding: 0;
    margin:0px;
    background-image: url("../img/hand-painted-watercolor-background-with-sky-clouds-shape_24972-1095.jpg");
    background-size: 100%;
    background-position-x: left;
    background-position-y:top ;
    background-repeat:no-repeat;
}

.header-alien{
    height:200px;
    border:none;
    border-radius: 1%;
    background-color:white;
}

.nav-head{
    background-color:rgb(28, 211, 83);
}


.result-img{
    width:50%;
height: 50%;
}